@mixin absolute-center{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin transform($transform-mix) {
  -moz-transform: $transform-mix; /* Для Firefox */
  -ms-transform: $transform-mix; /* Для IE */
  -webkit-transform: $transform-mix; /* Для Safari, Chrome, iOS */
  -o-transform: $transform-mix; /* Для Opera */
  transform: $transform-mix;
}

