body {
  padding: 0;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}
ul,li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}

input, textarea {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}

input::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}
input::-moz-placeholder {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}
textarea::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}
textarea::-moz-placeholder {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}
* {
  box-sizing: border-box;
}