/*start header*/
.header {
  display: flex;
  justify-content: space-between;
  height: 80px;

  &__col {
    display: flex;
    align-items: center;

    &_left {
      justify-content: flex-start;
    }

    &_right {
      justify-content: flex-end;
    }
  }

  &__logo {
    margin-right: 100px;

    @media screen and (max-width: 1080px) {
      margin-right: 50px;
    }
  }

  &__mode {

  }

  &__status {
    margin-right: 47px;
  }

  &__button-create {
    margin-right: 70px;
  }

  &__tools {

  }


}


.mode {
  list-style-type: none;

  &__item {
    display: inline-block;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &__link {
      display: block;
      transform: translateZ(0);

      &:hover {
        .mode__item__image path {
          fill: rgb(253, 102, 123);
        }
      }
    }

    &__image {
      path {
        transition: fill .2s ease-out;
      }

      &.active {
        path {
          fill: rgb(253, 102, 123);
        }
      }

    }
  }

}

.status {
  position: relative;
  color: #cdd6e0;
  font-size: 16px;
  font-weight: 400;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: -11px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1px;
    background-color: #cdd6e0;
  }

  &:before {
    height: 13px;
    width: 1px;
    transform: rotate(30deg);
  }

  &:after {
    top: auto;
    width: 6px;
    height: 1px;
    transform: rotate(44deg);
    bottom: 6px;
    left: -19px;

  }
}

.button-create {

  &__link {
    display: block;
    padding: 0 22px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 46px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 6px;
    background: linear-gradient(to left, #ff5858 50%, #f857a6 100%);
    transition: background-position-x .4s ease-out;

    &:hover {
      background-position-x: 96px ;
      transition: background .4s ease-out;
    }
  }
}

.tools {
  list-style-type: none;

  &__item {
    display: inline-block;
    margin-right: 44px;

    &:last-child {
      margin-right: 0;
    }

    &__link {
      display: block;
    }
  }
}
/*end header*/