.table {
  padding: 16px 15px 15px;
  background-color: #fafbfc;

  &__table-main {
    margin-top: 18px;
  }
}

.legend {
  position: fixed;
  width: 227px;
  background: #fff;
  right: 0;
  top: 30%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform: translateX(227px);
  z-index: 999;
  transition: transform .5s ease-out;

  &.active {
    transform: translateX(0);
  }

  &__icon {
    position: absolute;
    width: 59px;
    height: 57px;
    box-shadow: -8px 0px 24px 0px rgba(0,0,0,0.10);
    border-radius: 12px 0 0 12px;
    left: -59px;
    border-right: 1px solid #f1f8fe;
    background: #ffffff url("../img/legend-icon.png") no-repeat center center;
    cursor: pointer;
  }

  &__popup {
    padding: 15px 30px 30px;
  }

  &__title {
    color: #6893b5;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
  }


  &__name {
    color: #6893b5;
    font-size: 12px;
    font-weight: 300;
    line-height: 23px;
    vertical-align: middle;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      width: 24px;
      height: 22px;
      border-radius: 6px;
    }

    &_research {
      &:before {
        background-color: #ff6197;
      }
    }

    &_in-progress {
      &:before {
        background-color: #fed100;
      }
    }

    &_backlog {
      &:before {
        background-color: #39cf7c;
      }
    }

    &_reopened {
      &:before {
        background-color: #ff6666;
      }
    }

    &_new {
      &:before {
        background-color: #00c5fe;
      }
    }

    &_none {
      &:before {
        background-color: #7d97ae;
      }
    }
  }
}

.table-head {
  display: flex;

  &__col {
    display: flex;

    &_left {
      display: flex;
      align-items: center;
      width: 13.44%;
      box-shadow: 0 0 2px rgba(59, 148, 236, 0.3);
      border-radius: 5px;
      height: 45px;
      background-color: #ffffff;
      min-width: 203px;
    }

    &_right {
      display: flex;
      flex-direction: column;
      width: 86.56%;
      padding-left:15px;
    }
  }

  &__date-selection {
    padding: 11px 15px 12px 16px;
    border-right: 1px solid #ecf3fb;
    cursor: pointer;

    &__img {
      max-width: none;
    }
  }

  &__date {
    padding: 0 10px;
    text-align: center;
    width: 100%;
    color: #6893b5;
    font-size: 16px;
    font-weight: 500;

    @media screen and (max-width: 1580px) {
      padding: 0 10px 0 20px;
      text-align: left;
    }
  }

  .timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;

    &__first-date,
    &__last-date {
      color: #6893b5;
      font-size: 11px;
      font-weight: 400;
    }

    &__first-date {
      padding-right: 5px;
    }
    &__last-date {
      padding-left: 5px;
    }

    &__control {
      position: relative;
      width: 90%;
      height: 4px;

      @media screen and (max-width: 1540px) {
        width: 80%;
      }
    }

    &__range {
      -webkit-appearance: none;
      width: 100%;
    }

    input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent; /* Hides the slider so custom styles can be added */
      border-color: transparent;
      color: transparent;
    }


    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 14px;
      border-radius: 4px;
      background-color: #1f8beb;
    }

    input[type=range]::-moz-range-thumb {
      width: 20px;
      height: 14px;
      border-radius: 4px;
      background-color: #1f8beb;
    }

    input[type=range]::-ms-thumb {
      width: 20px;
      height: 14px;
      border-radius: 4px;
      background-color: #1f8beb;
    }

    input[type="range"].multirange.ghost {
      height: 4px;
      --range-color: #89c0f1;
    }

    input[type="range"].multirange.original {
      height: 4px;
      background-color: #deedfa;
    }

  }

  .timetable-head {
    display: flex;
    width: 100%;

    &__col {
      background-color: #fff;
      text-align: center;
      box-shadow: 0 0 2px rgba(59, 148, 236, 0.3);
      border-radius: 1px;
      color: #6893b5;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 26px;

      &_month {
        width: 5%;
      }
      &_quarterly {
        width: 15%;
      }
      &_half-year {
        width: 30%;
      }
    }
  }
}

.table-main {

  &__row {
    display: flex;
    box-shadow: 0 0 2px rgba(59, 148, 236, 0.3);
    border-radius: 5px;
    background-color: #ffffff;
  }

  &__col {

    &_left {
      display: flex;
      width: 14.3%;
      padding: 8px 16px 7px 7px;
      min-width: 218px;
    }

    &_right {
      width: 85.7%;
    }
  }

  &__title {
    position: relative;
    width: 15%;
    background-color: #f1f8fe;
    box-shadow: 0 0 2px rgba(59, 148, 236, 0.3);
    border-radius: 6px;
    margin-right: 8px;

    &__text {
      position: absolute;
      display: inline-block;
      line-height: 38px;
      color: #7590a7;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      transform: rotate(-90deg) translateX(50%);
      transform-origin: 0% 0%;
      white-space: nowrap;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      @media screen and (max-width: 1540px) {
        left: -3px;
      }
    }

  }

  &__category {
    width: 85%;
  }

  .category {


    &__name {
      color: #ffffff;
      font-weight: 600;
      line-height: 45px;
      text-transform: uppercase;
      border-radius: 6px;
      padding-left: 30px;
      margin-bottom: 5px;
      min-width: 125px;

      &:last-child {
        margin-bottom: 0;
      }

      &_research {
        background-color: #ff6197;
      }

      &_in-progress {
        background-color: #fed100;
      }

      &_backlog {
        background-color: #39cf7c;
        line-height: 95px;
      }
    }
  }
}

.timetable {

  &__row {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: #eef4f9;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: translateY(8px);
    }

    &_research {
      .timetable__task {
        background-color: #ff6197;
      }
    }

    &_in-progress {
      .timetable__task {
        background-color: #fed100;
      }
    }

    &_backlog {
      .timetable__task {
        background-color: #39cf7c;
      }
    }
  }

  &__cell {
    position: relative;
    border-left: 1px dashed #ecf3fb;
    height: 45px;
    font-size: 0;
    padding: 8px 0;

    &_month {
      width: 7.83%;
    }
    &_quarterly {
      width: 23.5%;
    }
    &_half-year {
      width: 47%;
    }
  }

  &__task {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    border-radius: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    padding: 0 15px;
    text-align: center;

    @media screen and (max-width: 1300px) {
      padding: 0 5px;
    }

    &.two {
      width: 200%;
    }

    &.three {
      width: 300%;
    }

    &.month-in-half {
      width: calc(100% / 6)
    }

    &.three-last-month-in-half {
      width: calc(100% / 2);
      left: calc(100% / 2);
    }

    &.second-in-half {
      left: calc(100% / 6);
    }

    &.fourth-month-in-quarterly {
      width: 134%;
    }
    &.fourth-month-in-quarterly {
      left: calc(100% / 1.5);
    }

  }
}