doctype html
html
    head
        meta(charset="utf-8")
        title
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="css/multirange.css")
        script(src="js/vendor/modernizr-2.8.3.min.js")

    body
        .container
            //start header
            section.container__header
                header.header
                    .header__col.header__col_left
                        .header__logo
                            .logo
                                img(src="img/logo.png" alt="logo").logo__img
                        .header__mode
                            ul.mode
                                li.mode__item
                                    a(href="#").mode__item__link
                                        svg(xmlns='http://www.w3.org/2000/svg', width='38', height='35', viewbox='0 0 38 35').mode__item__image
                                            path(fill='#dde5ed', d='M36 35H2a2 2 0 0 1-2-2V3c0-1.1.9-2 2-2h34a2 2 0 0 1 2 2v30a2 2 0 0 1-2 2zm-1-2a1 1 0 0 0 1-1v-7h-8v8zm-8 0v-8h-7v8zm-8 0v-8h-8v8zM3 33h7v-8H2v7a1 1 0 0 0 1 1zm7-27H3a1 1 0 0 0-1 1v8h8zM2 16v8h8v-8zM19 6h-8v9h8zm-8 10v8h8v-8zM27 6h-7v9h7zm-7 10v8h7v-8zm16-9a1 1 0 0 0-1-1h-7v9h8zm-8 9v8h8v-8z')
                                li.mode__item
                                    a(href="#").mode__item__link
                                        svg(xmlns='http://www.w3.org/2000/svg', width='38', height='35', viewbox='0 0 38 35').mode__item__image.active
                                            path(fill='#dde5ed', d='M36 35H2a2 2 0 0 1-2-2V3c0-1.1.9-2 2-2h34a2 2 0 0 1 2 2v30a2 2 0 0 1-2 2zm0-28a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v25a1 1 0 0 0 1 1h32a1 1 0 0 0 1-1zM20 27h-3a2 2 0 0 1-2-2H4v-1h11c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2h11v1H22a2 2 0 0 1-2 2zm7-8H14a2 2 0 0 1-2-2H4v-1h8c0-1.1.9-2 2-2h13a2 2 0 0 1 2 2h4v1h-4a2 2 0 0 1-2 2zm-15-9h21V9H12a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2H4v1h1c0 1.1.9 2 2 2h3a2 2 0 0 0 2-2z')

                                li.mode__item
                                    a(href="#").mode__item__link
                                        svg(xmlns='http://www.w3.org/2000/svg', width='38', height='35', viewbox='0 0 38 35').mode__item__image
                                            path(fill='#dde5ed', d='M36 35H2a2 2 0 0 1-2-2V3c0-1.1.9-2 2-2h34a2 2 0 0 1 2 2v30a2 2 0 0 1-2 2zm0-28a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v25a1 1 0 0 0 1 1h32a1 1 0 0 0 1-1zm-3 24H20a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1zm0-8H23a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1zm0-8H20a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h13a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1zm-17 0H6a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1zM6 17h13a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1zm-1 9v4a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1z')

                                li.mode__item
                                    a(href="#").mode__item__link
                                        svg(xmlns='http://www.w3.org/2000/svg', width='38', height='34', viewbox='0 0 38 34').mode__item__image
                                            path(fill='#dde5ed', d='M2 0h34a2 2 0 0 1 2 2v30a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2C0 .9.9 0 2 0zm0 6v25a1 1 0 0 0 1 1h32a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1zm24.94 13.49a.47.47 0 0 1-.5.42h-.1a1.9 1.9 0 0 0-1.74 1.15c-.3.73-.11 1.58.48 2.12.18.16.2.45.05.64-.4.5-.87.96-1.38 1.36a.48.48 0 0 1-.64-.05c-.5-.56-1.4-.77-2.1-.48-.73.3-1.2 1.02-1.17 1.81.01.25-.17.46-.42.49a8.43 8.43 0 0 1-1.91 0 .47.47 0 0 1-.42-.5c.05-.8-.41-1.54-1.15-1.85-.7-.3-1.6-.08-2.12.48a.47.47 0 0 1-.64.05c-.5-.4-.95-.86-1.35-1.36a.47.47 0 0 1 .05-.64 1.9 1.9 0 0 0 .48-2.1c-.3-.73-1-1.19-1.75-1.17-.24 0-.53-.18-.56-.42a8.56 8.56 0 0 1 0-1.93.46.46 0 0 1 .5-.42c.83 0 1.55-.45 1.85-1.15.3-.73.11-1.58-.48-2.12a.47.47 0 0 1-.05-.64c.4-.5.87-.96 1.38-1.36.2-.15.47-.13.64.05.5.56 1.4.77 2.1.48.73-.3 1.2-1.02 1.17-1.81-.01-.25.17-.46.42-.49a8.49 8.49 0 0 1 1.9 0c.26.04.44.25.43.5-.05.8.41 1.54 1.14 1.85.7.3 1.62.08 2.12-.48.17-.18.46-.2.65-.05.5.4.95.85 1.35 1.36.15.2.13.47-.06.64a1.9 1.9 0 0 0-.47 2.1c.29.71.98 1.17 1.76 1.17.24 0 .52.18.55.42.07.64.07 1.29 0 1.93zm-5.6-.97a2.84 2.84 0 1 0-5.67 0 2.84 2.84 0 0 0 5.68 0z')

                    .header__col.header__col_right
                        .header__status
                            .status Saved
                        .header__button-create
                            .button-create
                                a(href="#").button-create__link Create
                        .header__tools
                            ul.tools
                                li.tools__item
                                    a(href="").tools__item__link
                                        img(src="img/tools-icon_01.png" alt="tools").tools__item__image
                                li.tools__item
                                    a(href="").tools__item__link
                                        img(src="img/tools-icon_02.png" alt="tools").tools__item__image
                                li.tools__item
                                    a(href="").tools__item__link
                                        img(src="img/tools-icon_03.png" alt="tools").tools__item__image
                                li.tools__item
                                    a(href="").tools__item__link
                                        img(src="img/tools-icon_04.png" alt="tools").tools__item__image

            //end header
            //start table
            section.container__table
                .table
                    .table__legend
                        .legend
                            .legend__icon
                            .legend__popup
                                .legend__title Status:
                                .legend__name.legend__name_research Research
                                .legend__name.legend__name_in-progress In progress
                                .legend__name.legend__name_backlog Backlog
                                .legend__name.legend__name_reopened Reopened
                                .legend__name.legend__name_new New
                                .legend__name.legend__name_none None

                    .table__table-head
                        .table-head
                            .table-head__col.table-head__col_left
                                .table-head__date-selection
                                    img(src="img/calendar-item.png" alt="calendar").table-head__date-selection__img
                                .table-head__date 01.01.16 - 01.01.18
                            .table-head__col.table-head__col_right
                                .timeline
                                    .timeline__first-date Jan 1, 2016
                                    .timeline__control
                                        input(type="range" multiple value="10,90").timeline__range
                                    .timeline__last-date Nov 1, 2017
                                .timetable-head
                                    .timetable-head__col.timetable-head__col_quarterly
                                        span.timetable-head__text Q1’16
                                    .timetable-head__col.timetable-head__col_quarterly
                                        span.timetable-head__text Q1’16
                                    .timetable-head__col.timetable-head__col_month
                                        span.timetable-head__text J’16
                                    .timetable-head__col.timetable-head__col_month
                                        span.timetable-head__text A’16
                                    .timetable-head__col.timetable-head__col_month
                                        span.timetable-head__text S’16
                                    .timetable-head__col.timetable-head__col_month
                                        span.timetable-head__text O’16
                                    .timetable-head__col.timetable-head__col_month
                                        span.timetable-head__text N’16
                                    .timetable-head__col.timetable-head__col_month
                                        span.timetable-head__text D’16
                                    .timetable-head__col.timetable-head__col_half-year
                                        span.timetable-head__text H1’17
                                    .timetable-head__col.timetable-head__col_quarterly
                                        span.timetable-head__text Q3’17
                                    .timetable-head__col.timetable-head__col_quarterly
                                            span.timetable-head__text Q4’17
                    .table__table-main
                        .table-main
                            .table-main__row
                                .table-main__col.table-main__col_left
                                    .table-main__title
                                        span.table-main__title__text DESIGN UX
                                    .table-main__category
                                        .category
                                            .category__name.category__name_research
                                                span.category__name__text Research
                                            .category__name.category__name_in-progress
                                                span.category__name__text In progress
                                            .category__name.category__name_backlog
                                                span.category__name__text Backlog
                                .table-main__col.table-main__col_right
                                    .timetable
                                        //row
                                        .timetable__row.timetable__row_research
                                            .timetable__cell.timetable__cell_quarterly
                                            .timetable__cell.timetable__cell_quarterly
                                            .timetable__cell.timetable__cell_month
                                                .timetable__task Das...
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                                .timetable__task.three Template
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_half-year
                                            .timetable__cell.timetable__cell_quarterly
                                            .timetable__cell.timetable__cell_quarterly
                                        //end row
                                        //row
                                        .timetable__row.timetable__row_in-progress
                                            .timetable__cell.timetable__cell_quarterly
                                                .timetable__task.timetable__task_in-progress.two UX
                                            .timetable__cell.timetable__cell_quarterly
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_half-year
                                                .timetable__task.month-in-half.second-in-half  Flo...
                                            .timetable__cell.timetable__cell_quarterly
                                                .timetable__task UX
                                            .timetable__cell.timetable__cell_quarterly
                                        //end row
                                        //row
                                        .timetable__row.timetable__row_backlog
                                            .timetable__cell.timetable__cell_quarterly
                                            .timetable__cell.timetable__cell_quarterly
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_month
                                                .timetable__task Flat...
                                            .timetable__cell.timetable__cell_month
                                            .timetable__cell.timetable__cell_half-year
                                            .timetable__cell.timetable__cell_quarterly
                                            .timetable__cell.timetable__cell_quarterly
                                        //end row
                                        //row
                                        .timetable__row.timetable__row_backlog
                                            .timetable__cell.timetable__cell_quarterly
                                                .timetable__task.fourth-month-in-quarterly.fourth-month-in-quarterly Prototyping
                                            .timetable__cell.timetable__cell_quarterly

                                            .timetable__cell.timetable__cell_month

                                            .timetable__cell.timetable__cell_month

                                            .timetable__cell.timetable__cell_month

                                            .timetable__cell.timetable__cell_month

                                            .timetable__cell.timetable__cell_month

                                            .timetable__cell.timetable__cell_month

                                            .timetable__cell.timetable__cell_half-year
                                                .timetable__task.three-last-month-in-half  Private Policy
                                            .timetable__cell.timetable__cell_quarterly

                                            .timetable__cell.timetable__cell_quarterly
                                        //end row
            //end table

        script(src="js/vendor/jquery-1.12.0.min.js")
        script(src="js/vendor/multirange.js")
        script(src="js/main.js")

